<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>About - about_me</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </nav>
      </header>

      <section class="myBio">
        <div class="info">
          <h3>Who I am:</h3>
          <p>
            I am a young and growing tech enthusiast passionate about 
            growth and self development as well as continually learning 
            and improving my skills so as to open myself to a world of 
            opportunities. Even as I continue to improve my skills as a developer, 
            I also try to make out time for all the other things I'm passionate about.
          </p>

          <p>
            My name is David Umanah, popularly known as Davethadev in the tech
            space. I am a frontend developer and my tech stack is:
            HTML, CSS, JavaScript.
          </p>
        </div>
        <p></p>
      </section>
    </div>
  </body>
</html>
