<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Home - My_Bio</title>
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </nav>
      </header>

      <section class="myBio">
        <div class="info">
          <p><span>Name: </span>David Umanah</p>
          <p><span>Gender: </span>Male</p>
          <p><span>Hobbies: </span>Reading, writing, listening to music, taking long walks, playing video games</p>
          <p><span>Current role: </span>Student</p>
        </div>
      </section>
    </div>
  </body>
</html>
